<div class="col-12">
  <div class="grid formgrid">
    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [disabled]="product != null" pInputText [(ngModel)]="product == null ? '': product.sku"
          placeholder="SKU">
        <label>sku</label>
      </span>

    </div>
    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
      <p-dropdown [options]="categories" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name"
        [showClear]="true" placeholder="Select a Category">
        <ng-template let-country pTemplate="item">
          <div class="country-item">
            <div>{{country.name}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>

  <h5>Arabic Details</h5>
  <div class="grid formgrid">
    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.name" pInputText placeholder="Name">
        <label>Name</label>
      </span>
    </div>
    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.description" pInputText placeholder="Description">
        <label>Description</label>
      </span>
    </div>
  </div>


  <h5>English Details</h5>
  <div class="grid formgrid">
    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.name" pInputText placeholder="Name">
        <label>Name</label>
      </span>
    </div>
    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.description" pInputText placeholder="Description">
        <label>Description</label>
      </span>
    </div>
  </div>


  <h5>Pricing</h5>
  <div class="grid formgrid">
    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.stockItemPrices.costPrice" pInputText
          placeholder="Cost Price">
        <label>Cost Price</label>
      </span>

    </div>
    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.stockItemPrices.sellingPrice" pInputText
          placeholder="Selling Price">
        <label>Selling Price</label>
      </span>

    </div>
    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.stockItemPrices.discount" pInputText
          placeholder="Discount">
        <label>Discount</label>
      </span>

    </div>
    <div class="col-12 md:col-3">
      <p-toggleButton [(ngModel)]="product == null ? false: product.stockItemPrices.isDiscounted" onLabel="Discounted"
        offLabel="Not Discounted" [style]="{'width': '13 em'}"></p-toggleButton>
    </div>
  </div>

  <h5>Quantity</h5>
  <div class="grid formgrid">
    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.stockItemQuantity.totalStock" pInputText
          placeholder="Total Stock">
        <label>Total Stock</label>
      </span>

    </div>
    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.stockItemQuantity.availableStock" pInputText
          placeholder="Available Stock">
        <label>Available Stock</label>
      </span>

    </div>
    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
      <span class="p-float-label">
        <input type="text" [(ngModel)]="product == null ? '': product.stockItemQuantity.reservedStock" pInputText
          placeholder="Reserved Stock">
        <label>Reserved Stock</label>
      </span>

    </div>
    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
      <p-dropdown [options]="countries" placeholder="Select a City" [showClear]="true"></p-dropdown>
    </div>
  </div>

</div>
